<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../src/output.css">
</head>
<body class="bg-gray-100">
    <!-- Navbar -->
    <div class="bg-white w-full h-20 fixed top-0 z-50 shadow-md">
        <div class="flex justify-between item-center h-20 mx-auto">
            <div class=" flex justify-between items-center top-0 ml-5 gap-3">
                <a href="#">logo</a>
                <a href="#" class="text-semibold text-red-600 font-bold text-4xl">T.A.SOCCER</a>
            </div>
            <div class="hidden md:flex space-x-6 text-gray-700 font-medium">
                <ul class="flex justify-between items-center gap-7 text-l">
                    <li><a href="#" class="hover:text-red-600">Home</a></li>
                    <li><a href="#" class="hover:text-red-600">About us</a></li>
                    <li><a href="#" class="hover:text-red-600">Events</a></li>
                    <li><a href="#" class="hover:text-red-600">Gallery</a></li>
                    <li><a href="#" class="hover:text-red-600">Contact us</a></li>
                </ul>
            </div>
            <div class="flex justify-center items-center">
                <a href="signin.html" class="bg-red-600 rounded-full mr-5 px-6 py-2 mr-6 hover:bg-red-500 text-white">Login</a>
                <a href="home-th.html" class="mr-20 bg-gray-200 rounded-full px-3 py-2">EN</a>
            </div>
        </div>
    </div>
    <!-- Hero section -->
     <section class="h-screen bg-cover bg-center" style="background-image: url('../images/DJI_0314.JPG');">
        <div class="absolute inset-0 bg-black opacity-40"></div>
        <div class="relative text-center text-white flex flex-col items-center justify-center h-full">
            <h1 class="text-5xl font-bold mb-4">SANARM YA TEARM NAI TUM NARN</h1>
            <p class="text-lg mb-6">first ya tearm in Buriram since 1990</p>
        <a href="reservation.html" class="bg-red-600 text-white px-6 py-3 text-lg rounded-full hover:bg-red-500 transition">Reserve Now</a>
      </div>
     </section>
</body>
</html>