{% extends 'public/base.html' %}

{% block title %}ลืมรหัสผ่าน{% endblock %}
{% block content %}
{% load static %}
<div class="flex justify-center items-center h-screen bg-cover bg-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({% static 'images/test.jpg' %});">

  <div class="p-6 shadow-lg bg-white rounded-md w-full max-w-md text-gray-700">
    <h1 class="text-3xl block text-center font-semibold">รีเซ็ตรหัสผ่าน</h1>
    <div class="flex justify-center items-center mt-5"><p>ลิ้งค์เพื่อเปลี่ยนรหัสผ่านถูกส่งไปที่อีเมลของคุณแล้ว</p>
    </div>
  </div>
</div>
{% endblock %}